.navOuter {
    height: 100px;
    width:auto;
    background: #323232;
    margin: auto;
    padding: 12px;

    justify-content: space-between;
    display: flex;
    color: #afafaf;
}

.left {
    align-self: flex-start;
}

.navItem {
    height: 80px;
    width: 80px;
    padding: 8px;
    background: #464646;
    display: inline-block;
    border-radius: 25px;
}

.icon {
    display: block;
}
